@charset "utf-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
}

header {
  top: 0;
  position: fixed;
  margin-bottom: 25px;
  display: inline;
  text-align: center;
  width: 100%;
  background-color: rgba(77, 126, 5, 0.76);
}

header h1 {
  text-align: center;
}

main {
  text-align: center;
  margin-top: 50px;
}

article section nav {
  text-align: center;
}

nav abbr , nav a {
  text-decoration: none;
  color: black;
}

aside a {
  display: block;
}

aside h2 {
  color: darkred;
  font-size: 22px;
  width: 350px;
}

img {
  width: 350px;
}

table {
  display: inline-block;
  background-color: rgb(253, 251, 251);
}

td , th {
  padding: 0 40px;
  margin: 10px;
}

footer {
  background-color: rgb(15, 15, 15);
  height: 80px;
  color: white;
}

footer p {
  text-align: center;
  padding: 15px;
  margin: 15px;
}

.lado-esquerdo {
  display: inline-block;
  width: 500px;
  margin-top: 20px;
  vertical-align: top;
}

.lado-direito {
  display: inline-block;
  margin-left: 50px;
  text-align: center;
}

#minha_foto {
  border-radius: 50%;
  margin-bottom: 25px;
  box-shadow: 20px 20px 20px;
}

#secao-tabela {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: rgba(17, 16, 16, 0.938);
}

#rodape a {
  text-decoration: none;
  color: white;
}
